spring:
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/wecare_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: dsa991006!
  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080

jwt:
  secret: ef8d8dabfad0be20528ee6c61482d335b0f3370494f641ce23131c482edeae83a09cc9e078a5017d4781e74e2995dd3425e5f8d58c26b05980fed76b6058a1ad
  refresh-token-expiration-time: 360000
  access-token-expiration-time: 3600000
